@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400&family=Montserrat:wght@300;400&display=swap');

//Colors
$darkBlue: #002035;
$darkestBlue: #00131F;
$lightBlue: #E8F1F5;
$white: #FAFAFA;

//Fonts
$catamaran: 'Catamaran',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;

//Sizes
$small: 14px;
$standard: 18px;
$big: 20px;
$bigger: 32px;
$biggerDesktop: 52px;
$biggest: 82px;
$biggestDesktop: 92px;

//Paddings:
$smallPadding: 10px;
$standardPadding: 15px;
$bigPadding: 30px;
$desktopPadding: 60px;