@media(min-width:701px) {
    .header {
        &__weather-type {
            display: none;
        }

        &__logos {
            width: 160px;
        }

        &__logo {
            height: 50px;
            width: 50px;
        }


    }
}